%toc
    line-height: 1.2
    margin-left: 0
    padding-left: .5rem
    position: relative

    *
        font-weight: normal !important

    &::after
        @extend %line-v

    ul
        margin-left: 1rem

    li
        list-style: none
        margin: 0
        > a
            @extend %card-dis
            @include font(13.6px, --text-p2)
            display: block
            padding: 5px 8px

            &:hover
                @extend %card-hov

            &.active
                color: var(--text-link)

                &::after
                    @extend %line-v-a
    
&.toc
    .content
        padding-left: 2px
        ul
            @extend %toc
