{{- define "Config" -}}
  {{- .Scratch.Set "Config" (dict
    "Active"  (dict "Menu" "/" "Tab" "/categories/")
    "Side"    (slice "search" "notice" "recent")
    "Main"    (slice "header" "nav-bar" "categories" "footer" "float-panel")
  ) -}}
{{- end -}}

{{- define "partials/main/categories" -}}
<div class="post-list">
  <article class="cats">
    {{- range $taxonomy := .Site.Taxonomies.categories -}}
    <a class="cat" href={{ .Page.Permalink }}>
      <span class="name">{{ .Page.Title }}</span>
      <span class="badge">({{ $taxonomy.Count }})</span>
    </a>
    {{- end -}}
  </article>
</div>
{{- end -}}
