{{- define "main" -}}
{{- .Scratch.Set "Widgets" (slice "search" "notice" "recent") -}}
{{- .Scratch.Set "Active" (dict "Menu" "/" "Tabs" "/tags/") -}}

<div class="LBody">
    <div class="Side">
        {{- partial "Side/header.html" . -}}
        {{- partial "Side/widgets.html" . -}}
        {{- partial "Side/footer.html" . -}}
    </div>
    <div class="Main">
        {{- partial "mobile-only.html" . -}}
        {{- partial "Main/tabs.html" . -}}
        <div class="list tags">
            {{- range $taxonomy := .Site.Taxonomies.tags -}}
            <a class="card" href={{ .Page.Permalink }}>
                <span class="sign">#</span>
                <span class="title">{{ .Page.Title }}</span>
            </a>
            {{- end -}}
        </div>
        {{- partial "Main/footer.html" . -}}
    </div>
</div>
{{- end -}}