{{- define "Config" -}}
  {{- .Scratch.Set "Config" (dict
    "Active"  (dict "Menu" "/")
    "Side"    (slice "search" "toc")
    "Main"    (slice "header" "article" "float-panel")
  ) -}}
{{- end -}}

{{- define "partials/main/article" -}}

<div class="bread-nav fs14">
  <div class="breadcrumb">
    {{- range .Params.Categories -}}
      <a class="cap item" href="/categories/{{ lower . | replaceRE "\\s" "-" }}">{{ . }}</a>
      <span class="sep"> </span>
    {{- end -}}
    {{ if and .Params.Categories .Params.Tags }}
      <span class="sep">|</span>
    {{- end -}}
    {{- range .Params.Tags -}}
      <a class="cap item" href="/tags/{{ lower . | replaceRE "\\s" "-" }}">{{ . }}</a>
      <span class="sep"> </span>  
    {{- end -}}
  </div>
  <span class="post-meta">发布于 {{ .Date.Format "2006-1-2" }}</span>
</div>

<article class="md-text content post">
  <h1 class="article-title">{{ .Title }}</h1>
  {{- with .Description -}}
  <blockquote class="description">{{ . }}</blockquote>
  {{- end -}}
  <section>
  {{- partial "func/content.html" . -}}
  </section>
</article>
{{- end -}}