{{- define "Config" -}}
  {{- .Scratch.Set "Config" (dict
    "Active"  (dict "Menu" "/")
    "Side"    (slice "search" "toc")
    "Main"    (slice "header" "article" "float-panel")
  ) -}}
{{- end -}}

{{- define "partials/main/article" -}}
<div class="bread-nav fs12">
  {{- if .Params.Categories -}}
  <div class="breadcrumb">
      {{- range .Params.Categories -}}
      <a class="cap item" href="/categories/{{ lower . | replaceRE "\\s" "-" }}">{{ . }}</a>
      <span class="sep">/</span>
      {{- end -}}
  </div>
  {{- end -}}
  {{- if .Params.Tags -}}
  <div class="breadcrumb">
      {{- range .Params.Tags -}}
      <a class="cap item" href="/tags/{{ lower . | replaceRE "\\s" "-" }}">{{ . }}</a>
      <span class="sep">/</span>
      {{- end -}}
  </div>
  {{- end -}}
  <div class="post-meta">发布于 {{ .Date.Format "2006-1-2" }}</div>
</div>

<article class="md-text content post">
  <h1 class="article-title">{{ .Title }}</h1>
  <span class="description">{{ .Description }}</span>
  {{- partial "func/content.html" . -}}
</article>
{{- end -}}