{{- $config := .Scratch.Get "Config" -}}

{{- $menu := $config.Active.Menu -}}

<header class="header">
    <div class="logo-wrap">
        <a class="avatar" href="/">
            <div class="mask"></div>
            <div class="bg" style="background-image:url(/img/rainbow64@3x.webp)"></div>
            <img class="avatar" src="{{ .Site.Params.avatar }}" onerror="this.classList.add('error');this.src='/img/unknow.svg';">
        </a>
        <a class="title" href="/">
            <div class="main" ff="title">{{ .Site.Params.Author }}</div>
            <div class="sub normal cap">{{ index .Site.Params.Description 0 }}</div>
            <div class="sub hover cap">{{ index .Site.Params.Description 1 }}</div>
        </a>
    </div>
    <nav class="menu dis-select">
    {{- range .Site.Menus.main -}}
        {{- $url := cond (eq (substr .URL -1 1) "/") .URL (add .URL "/") -}}
        {{- $flag := cond (eq $url $menu) "active" "" -}}
        <a class="nav-item {{ $flag }}" href="{{ $url }}">{{ .Name }}</a>
    {{- end -}}
    </nav>
</header>