<head>
    <title>{{ cond (or .IsHome (not (len .Title))) .Site.Title (printf "%s - %s" .Title .Site.Title) }}</title>

    <meta charset="utf-8">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="Robots" content="All">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="windows-Target" content="_top">
    
    {{- range .Site.Params.meta -}}
        {{ printf "<meta name=\"%s\" content=\"%s\" />" .name .content | safeHTML }}
    {{- end -}}

    <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.Params.logo | relURL }}" />
    <link rel="alt" type="application/rss+xml" href={{ "index.xml" | relURL }} title="{{ .Site.Title }}" />
    <link rel="stylesheet" href={{ partial "toCSS" "_index.sass" }}>
    {{- range .Site.Params.syntax -}}
    {{- if fileExists (printf "/assets/%s/_index.sass" .) -}}
    <link rel="stylesheet" href={{ partial "toCSS" (printf "%s/_index.sass" .) }}>
    {{- end -}}
    {{- end -}}

    {{- $cdn := .Site.Params.cdn -}}
    {{- $host := $cdn.host -}}
    <link rel="dns-prefetch" href="{{ $host }}">
    <link rel="preconnect" href="{{ $host }}" crossorigin="">
    {{- range $cdn.link -}}
    <link rel="stylesheet" href="{{ replace . "host:/" $host }}">
    {{- end -}}
    {{- range $cdn.script -}}
    <script src="{{ replace . "host:/" $host }}"></script>
    {{- end -}}
</head>

{{- define "partials/toCSS" -}}
    {{- $url := (resources.Get . | resources.ToCSS | resources.Fingerprint).Permalink | safeURL -}}
    {{- return $url -}}
{{- end -}}