<!-- MathJax -->
<script src="/js/mathjax.js"></script>

<!-- DPI -->
<script src="/js/fiximg.js"></script>

<!-- TOC And Header -->
<script src="/js/toc.js"></script>

<!-- Codeblock -->
<script src="/js/codeblock.js"></script>

<!-- Redirector -->
{{- if .Site.Params.tencentUrl | default true -}}
<script src="/js/tencenturl.js"></script>
{{- end -}}

<!-- Built-in -->
<script>
    sidebar_button_click = (e) => {
        $(".Side")[0].classList.toggle("layout");
        $(".sidebar-toggle")[0].classList.toggle("layout");
    }
</script>

<!-- Mermaid -->
<script>
    mermaid.initialize({
        securityLevel: 'loose',
        themeVariables: {
            fontFamily: 'Cera Round Pro',
            fontSize: '85%'
        }
    });
</script>