<script src="/scripts/tableOfContents.js"></script>

<script type="text/javascript" src="https://cdnjs.loli.net/ajax/libs/mathjax/2.7.9/MathJax.js" defer></script>
{{/*  <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@2.7.9/MathJax.js"></script>
<script type="text/javascript" async src="https://cdn.bootcss.com/mathjax/2.7.9/MathJax.js"></script>
<script type="text/javascript" async src="https://cdn.bootcdn.net/ajax/libs/mathjax/2.7.9/MathJax.js"></script>
<script type="text/javascript" async src="https://unpkg.com/mathjax@2.7.9/MathJax.js"></script>  */}}

{{/*  <script async>
    loadFastestScript([
        'https://cdnjs.loli.net/ajax/libs/mathjax/2.7.9/MathJax.js',
        'https://cdn.jsdelivr.net/npm/mathjax@2.7.9/MathJax.js',
        'https://cdn.bootcss.com/mathjax/2.7.9/MathJax.js',
        'https://cdn.bootcdn.net/ajax/libs/mathjax/2.7.9/MathJax.js',
        'https://unpkg.com/mathjax@2.7.9/MathJax.js',
    ]);
</script>  */}}

<script src="/scripts/mathjax.js"></script>
