%topic
    display: flex
    --sz: 50px

    a.avatar
        @include HiDPI
        @include radius(all, 100%)
        width: var(--sz)
        height: var(--sz)
        flex: 0 0 var(--sz)
        overflow: hidden
        margin-right: 1rem

        > .bg
            @include transition(opacity .2s ease)
            position: absolute
            z-index: -1
            width: var(--sz)
            height: var(--sz)

            &.rainbow
                opacity: 0
                background-size: cover
            &.shadow
                @include radius(all, 100%)
                background: var(--bg-hov)

        img.avatar
            @include radius(all, 100%)
            margin: 2px
            width: calc(100% - 4px)
            height: calc(100% - 4px)
            background-color: white

        &:hover
            > .bg.rainbow
                opacity: 1
                animation: rotate 2.5s infinite linear

    a.title
        flex-grow: 1
        position: relative
        white-space: nowrap

        .text
            @include font(30px, bold, --text-p0)
            line-height: 2rem

        .sub
            @include transition(transform, opacity, .2s ease-out)
            @include font(13px, --text-p0)
            line-height: 1rem
            position: absolute
            white-space: nowrap
            &.dw
                transform: translateY(8px)
                opacity: 0

        &:hover
            .dw
                transform: translateY(0)
                opacity: 1
            .up
                transform: translateY(-8px)
                opacity: 0

.header
    margin: 1rem
    margin-top: 2rem

    .back
        @include font(13px, --text-p2)
        display: block
        margin-bottom: .5rem
        span
            display: inline-block
            vertical-align: 3px
        &:hover
            @include font(--text-warn)

    .topic
        @extend %topic

    .menu
        @include border
        @include radius
        z-index: 999
        margin: 1rem 0 0 0
        background: var(--bg-blk)
        display: flex

        .nav-item
            @extend %card-dis
            &.active, &:hover
                @extend %card

            @include font(14px)
            flex-grow: 1
            text-align: center
            text-overflow: ellipsis
            margin: .05rem
            overflow: hidden



