.list
    padding: 1rem

    .item
        @include radius
        display: block
        padding: .5rem 1rem
        color: var(--text-p2)
        line-height: 1

        img
            width: 18px
            height: 18px
            margin-right: 3px
            opacity: .7
            vertical-align: text-bottom

        .type
            @include font(14px, bold)
            margin-right: .5rem

        .title
            @include font(14px)

        &:not(.dir):hover
            background: var(--hover)
            color: var(--text-p0)
            .count
                color: var(--text-link)

        &.dir
            @include font(14px)
            padding: .6rem 1rem;
            margin-bottom: .5rem
            background: var(--card)
            box-shadow: var(--shadow)
            display: flex
            line-height: 1.2

            .seperator
                margin: 0 1px

            .subdir
                color: var(--text-p1)
                &:hover
                    color: var(--text-link)
                    text-decoration: underline

    &.categories
        .count
            @include font(12px, bold, --text-p4)
            float: right
            line-height: 1.4

    &.tags
        padding: calc(1rem - 4px)

        .card
            @include transition(background .1s)
            @include radius
            display: inline-flex
            margin: 4px
            padding: .4rem .75rem
            background: var(--block)

            span
                &.sign
                    @include transition(color .1s)
                    @include font(13px, bold, --text-p4)
                    padding-right: 3px
                &.title
                    @include font(13px, --text-p2)

            &:hover
                color: var(--text-p0)
                background: var(--card)
                box-shadow: var(--shadow)

                .sign
                    color: var(--text-link)