.tabs
    position: -webkit-sticky
    position: sticky
    top: 0
    background: var(--site-bg)
    z-index: 999
    &:after
        @include radius
        content: ''
        height: 2px
        position: absolute
        bottom: 0
        left: 1rem
        right: 1rem
        background: var(--hover)

    .nav
        @include hideScrollBar
        @include font(13px, --text-p3)
        display: flex
        position: relative
        margin: .5rem 0
        padding: .5rem 1rem
        overflow: scroll hidden
        .tab
            @include radius
            padding: 0 1rem
            line-height: 2.2
            color: var(--text-p3)
            white-space: nowrap
            position: relative
            z-index: 1
            &.active
                color: var(--text-p1)
                background: var(--card)
                box-shadow: var(--shadow-block)
                &::after
                    @include radius
                    content: ''
                    pointer-events: none
                    cursor: default
                    height: 2px
                    position: absolute
                    bottom: -.5rem
                    left: 1rem
                    right: 1rem
                    background: var(--bar)


            &:not(.active):hover
                color: var(--text-p0)
                background: var(--hover)

            & + .tab
                margin-left: .5rem
